/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode

/database/migrations/2024_04_23_172132_create_business_form_groups_table.php
/database/migrations/2024_04_23_172133_create_p_d_f_templates_table.php
/database/migrations/2024_04_23_172134_create_form_repositories_table.php
/database/migrations/2024_04_23_172135_create_data_source_fields_table.php
/database/migrations/2024_04_23_172136_create_branch_program_table.php
/database/migrations/2024_04_23_172137_create_business_form_program_table.php
/database/migrations/2024_04_23_172138_create_business_form_group_program_table.php
/database/migrations/2024_04_23_172139_create_activity_business_form_table.php
/database/migrations/2024_04_23_172140_create_business_form_form_repository_table.php
/database/migrations/2024_04_23_172141_create_business_form_form_group_table.php
/database/migrations/2024_04_23_172142_create_business_form_business_form_group_table.php
/database/migrations/2024_05_06_232446_create_ministries_table.php
/database/migrations/2024_05_06_232447_create_divisions_table.php
/database/migrations/2024_05_06_232448_create_branches_table.php
/database/migrations/2024_05_06_232449_create_programs_table.php
/database/migrations/2024_05_06_232450_create_contacts_table.php
/database/migrations/2024_05_06_232451_create_business_forms_table.php
/database/migrations/2024_05_06_232452_create_activities_table.php
/database/migrations/2024_05_06_232453_create_data_types_table.php
/database/migrations/2024_05_06_232454_create_select_options_table.php
/database/migrations/2024_05_06_232455_create_value_types_table.php
/database/migrations/2024_05_06_232456_create_form_fields_table.php
/database/migrations/2024_05_06_232457_create_form_builders_table.php
/database/migrations/2024_05_06_232458_create_data_sources_table.php
/database/migrations/2024_05_06_232459_create_field_groups_table.php
/database/migrations/2024_05_06_232500_create_business_form_groups_table.php
/database/migrations/2024_05_06_232501_create_p_d_f_templates_table.php
/database/migrations/2024_05_06_232502_create_form_repositories_table.php
/database/migrations/2024_05_06_232503_create_data_source_fields_table.php
/database/migrations/2024_05_06_232504_create_branch_program_table.php
/database/migrations/2024_05_06_232505_create_business_form_program_table.php
/database/migrations/2024_05_06_232506_create_business_form_group_program_table.php
/database/migrations/2024_05_06_232507_create_activity_business_form_table.php
/database/migrations/2024_05_06_232508_create_business_form_form_repository_table.php
/database/migrations/2024_05_06_232509_create_business_form_form_group_table.php
/database/migrations/2024_05_06_232510_create_business_form_business_form_group_table.php
/database/database.sqlite
/.blueprint
/storage/logs/laravel.log

# Filament published assets
/public/js/filament/
/public/css/filament/
/public/js/filament-monaco-editor/
/public/css/filament-monaco-editor/
/public/js/westacks/
/public/css/westacks/
