{{- $pvcName := "klamm-form-data-pvc" -}}
{{- $storage := .Values.pvc.formData.storage -}}
{{- $existing := (lookup "v1" "PersistentVolumeClaim" .Release.Namespace $pvcName) -}}
{{- if $existing -}}
{{- $storage = ((get (get (get (get $existing "spec") "resources") "requests") "storage") | default $storage) -}}
{{- end -}}

apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ $pvcName }}
  labels:
    app.kubernetes.io/name: klamm-app
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: {{ $storage | quote }}
