apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: klamm-form-data-pvc
  labels:
    app.kubernetes.io/name: klamm-app
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage:
        {
          {
            include "klamm.pvcRequestedStorageNoShrink" (list . "klamm-form-data-pvc" .Values.pvc.formData.storage),
          },
        }
