apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: klamm-app-shared-pvc
  labels:
    app.kubernetes.io/name: klamm-app
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: {{- $existing := (lookup "v1" "PersistentVolumeClaim" .Release.Namespace "klamm-app-shared-pvc") -}}{{- if $existing -}}{{- (get (get (get (get $existing "spec") "resources") "requests") "storage") | default .Values.pvc.storage -}}{{- else -}}{{- .Values.pvc.storage -}}{{- end -}}
